.Card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 240px;
	width: 240px;
	padding: 20px 0;
	margin-bottom: 30px;
	border-radius: 30px;
	overflow: hidden;
	text-decoration: none;
	background-color: lightblue;

	&__image {
		width: 70%;
		height: 70%;
	}

	&__overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		border-radius: 40px;
		background-color: white;
		transform: translateY(100%);
		transition: 0.2s ease-in-out;
	}

	&:hover &__overlay {
		transform: translateY(0);
	}

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		padding: 16px 20px;
		border-radius: calc(40 * 1px) 0 0 0;
		background-color: lightpink;
		transform: translateY(-100%);
		transition: 0.2s ease-in-out;
	}

	&__arc {
		width: 80px;
		height: 80px;
		position: absolute;
		bottom: 100%;
		right: 0;
		z-index: 1;
	}

	&__arc path {
		fill: lightpink;
		d: path('M 40 80 c 22 0 40 -22 40 -40 v 40 Z');
	}

	&:hover &__header {
		transform: translateY(0);
	}

	&__thumb {
		flex-shrink: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: lightcoral;
	}

	&__name {
	}

	&__title {
		font-size: 1em;
		margin: 0 0 0.3em;
		color: #6a515e;
	}

	&__info {
		background-color: red;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 18px;
	}

	&__status {
		font-size: 10px;
	}

	&__description {
		margin: 0;
	}
}
